<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Telco Projects Keywords Driven">
  <test thread-count="5" name="TelcoProjects Keywords Driven Demo">
    <classes>
      <class name="TelcoProjects.TelcoProjectTstNGOne"/>
      <class name="TelcoProjects.TelcoProjectTstNGTwo"/> 
      <class name="TelcoProjects.TelcoProjectTstNGThree"/>  
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
