<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regresion101">
  <test thread-count="5" name="Demo101">
    <classes>
      <class name="testngdemo.Testngdemo"/>
      <class name="BankProjectGenerateDataTstNG.BankProjectGenerateDataKeywords"/> 
      <class name="testngdemo.Testngdemo2"/>  
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
