<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="*****RELEASE 102*****" ><!--parallel=false>-->
	<groups>  
	<run>  
	<exclude name="SmokeTest"/>  
	<include name="Include"/>
	</run>  
	</groups> 
<!-- <parameter name="systemUnderTest" value="https://reqres.in/api/users?page=2" />-->
<!-- <parameter name="systemUnderTest" value="http://www.acme.com" />-->
<parameter name="systemUnderTest" value="https://reqres.in/api/users?page=2" />
<parameter name="systemUnderTestGuru" value="http://demo.guru99.com/V4/sinkministatement.php" />
<parameter name="systemUnderTestAcme" value="http://www.acme.com" />

<listeners>
	<listener 
		class-name="testngListeners.TestNGlisteners">
	</listener>
</listeners>
  <test name="Regression Test">
  <!--<test thread-count="5" name="Test">-->
    <packages>
      <package name="restful"/>
      <package name="testngListeners"/>
    </packages>
  </test> <!-- Test -->
</suite> <!-- Suite -->